@model List<Producto>
@{
    Layout = "_Layout";
}

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Consulta de Productos</h4>
        </div>
        <hr>

        <input id="Mensaje" type="hidden" value="@ViewBag.Mensaje">

        <div class="card-body">

            <a class="btn btn-primary mb-3" href="@Url.Action("RegistrarProducto", "Producto")">
              <i class="fa fa-plus"></i> Agregar
            </a>

            <table id="TablaDatos" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Inventario</th>
                        <th>Imagen</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdProducto</td>
                            <td>@item.Nombre</td>
                            <td>@item.Descripcion</td>
                            <td> $ @item.Precio.ToString("N2")</td>
                            <td>@item.Inventario</td>
                            <td style="text-align:center"> <img src="@item.Imagen" width="175" height="175" /> </td>
                            <td>@(item.Estado ? "Activo" : "Inactivo")</td>
                            <td class="text-center">
                                <a href="@Url.Action("ActualizarProducto", "Producto", new { IdProducto = item.IdProducto })">
                                  <i class="fa fa-edit"></i> Actualizar
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>

    </div>
</div>

<script src="~/lib/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/consultaProductos.js" asp-append-version="true"></script>