<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Proyecto SM</title>
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" asp-append-version="true" />
    @* <link href="https://cdn.datatables.net/2.3.2/css/dataTables.bootstrap4.css" rel="stylesheet" asp-append-version="true" /> *@
    <link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" rel="stylesheet" asp-append-version="true">
</head>

<body>

    @{
        var nombreUsuario = "";
        var nombreRol = "";
        var idRol = "";
        if (Context.Session.GetString("Nombre") != null)
        {
            nombreUsuario = Context.Session.GetString("Nombre");
        }

        if (Context.Session.GetString("NombreRol") != null)
        {
            nombreRol = Context.Session.GetString("NombreRol");
            idRol = Context.Session.GetString("IdRol");
        }
    }

    <div id="main-wrapper">

        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                    <div class="navbar-brand">
                        <a href="@Url.Action("Principal", "Home")" class="logo">
                            <b class="logo-icon">
                                <img src="~/img/logo-icon.png" alt="homepage" class="dark-logo" />
                                <img src="~/img/logo-light-icon.png" alt="homepage" class="light-logo" />
                            </b>
                            <span class="logo-text">
                                <img src="~/img/logo-text.png" alt="homepage" class="dark-logo" />
                                <img src="~/img/logo-light-text.png" class="light-logo" alt="homepage" />
                            </span>
                        </a>
                        <a class="sidebartoggler d-none d-md-block" href="javascript:void(0)" data-sidebartype="mini-sidebar">
                            <i class="mdi mdi-toggle-switch mdi-toggle-switch-off font-20"></i>
                        </a>
                    </div>
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent"
                       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti-more"></i>
                    </a>
                </div>

                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="m-l-5 font-medium d-none d-sm-inline-block"> @nombreRol </span>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav float-right">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="m-l-5 font-medium d-none d-sm-inline-block"> @nombreUsuario <i class="mdi mdi-chevron-down"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <span class="with-arrow">
                                    <span class="bg-primary"></span>
                                </span>
                                <div class="profile-dis scrollable">

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" href="@Url.Action("ActualizarPerfil", "Usuario")">
                                        <i class="fa fa-user mr-3"></i> Perfil
                                    </a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" href="@Url.Action("CambiarContrasenna", "Usuario")">
                                        <i class="fa fa-lock mr-3"></i> Seguridad
                                    </a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" href="@Url.Action("CerrarSesion", "Home")">
                                        <i class="fa fa-sign-out mr-3"></i> Cerrar Sesión
                                    </a>

                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>

        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">

                        @if (idRol == "2")
                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("ConsultarUsuarios", "Usuario")" aria-expanded="false">
                                    <i class="fa fa-users"></i>
                                    <span class="hide-menu">Mant. Usuarios</span>
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("ConsultarProductos", "Producto")" aria-expanded="false">
                                    <i class="fa fa-tags"></i>
                                    <span class="hide-menu">Mant. Productos</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("", "")" aria-expanded="false">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="hide-menu">Mi Carrito</span>
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("", "")" aria-expanded="false">
                                    <i class="fa fa-list-alt"></i>
                                    <span class="hide-menu">Mis Compras</span>
                                </a>
                            </li>

                        }

                    </ul>
                </nav>
            </div>
        </aside>

        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    @RenderBody()
                </div>
            </div>

            <footer class="footer text-center">
                All Rights Reserved by Nice admin.
            </footer>
        </div>
    </div>

    <script src="~/lib/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/popper.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/app.min.js" asp-append-version="true"></script>
    <script src="~/lib/app.init.js" asp-append-version="true"></script>
    <script src="~/lib/app-style-switcher.js" asp-append-version="true"></script>
    <script src="~/lib/perfect-scrollbar.jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/sparkline.js" asp-append-version="true"></script>
    <script src="~/lib/waves.js" asp-append-version="true"></script>
    <script src="~/lib/sidebarmenu.js" asp-append-version="true"></script>
    <script src="~/lib/custom.min.js" asp-append-version="true"></script>
    @* <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.bootstrap4.js" asp-append-version="true"></script>   *@

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>

</body>

</html>