@model List<Carrito>
@{
    Layout = "_Layout";
}

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Factura # @Model.FirstOrDefault()!.IdMaestro </h4>
        </div>
        <hr>

        <input id="Mensaje" type="hidden" value="@ViewBag.Mensaje">

        <div class="card-body">

            <table id="TablaDatos" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>SubTotal</th>
                        <th>Impuesto</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdProducto</td>
                            <td>@item.Nombre</td>
                            <td>@item.Cantidad</td>
                            <td> $ @item.Precio.ToString("N2")</td>
                            <td> $ @item.SubTotal.ToString("N2")</td>
                            <td> $ @item.Impuesto.ToString("N2")</td>
                            <td> $ @item.Total.ToString("N2")</td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>

    </div>
</div>

<script src="~/lib/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/consultaProductos.js" asp-append-version="true"></script>
