@model List<Carrito>
@{
    Layout = "_Layout";
}

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Mis Compras</h4>
        </div>
        <hr>

        <input id="Mensaje" type="hidden" value="@ViewBag.Mensaje">

        <div class="card-body">

            <table id="TablaDatos" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Cantidad</th>
                        <th>SubTotal</th>
                        <th>Impuesto</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdMaestro</td>
                            <td>@item.Fecha.ToString("dd/MM/yyyy hh:mm tt")</td>
                            <td>@item.Cantidad</td>
                            <td> $ @item.SubTotal.ToString("N2")</td>
                            <td> $ @item.Impuesto.ToString("N2")</td>
                            <td> $ @item.Total.ToString("N2")</td>
                            <td class="text-center">

                                <a href="@Url.Action("ConsultarDetalleCompras", "Carrito", new { Id = item.IdMaestro })">
                                    <i class="fa fa-check"></i> Detalle
                                </a>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>

    </div>
</div>

<script src="~/lib/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/consultaProductos.js" asp-append-version="true"></script>
